(
    texture_width: 1690,
    texture_height: 132,
    sprites: [
        // idle right
        (
            x: 781,
            y: 1,
            width: 130,
            height: 66,
        ),
        // idle left
        (
            x: 781,
            y: 67,
            width: 130,
            height: 66,
        ),
        // attacks right
        (
            x: 1,
            y: 1,
            width: 130,
            height: 66,
        ),
        (
            x: 131,
            y: 1,
            width: 130,
            height: 66,
        ),
        (
            x: 261,
            y: 1,
            width: 130,
            height: 66,
        ),
        (
            x: 391,
            y: 1,
            width: 130,
            height: 66,
        ),
        (
            x: 521,
            y: 1,
            width: 130,
            height: 66,
        ),
        (
            x: 651,
            y: 1,
            width: 130,
            height: 66,
        ),
        // attacks left
        (
            x: 1561,
            y: 67,
            width: 130,
            height: 66,
        ),
        (
            x: 1431,
            y: 67,
            width: 130,
            height: 66,
        ),
        (
            x: 1301,
            y: 67,
            width: 130,
            height: 66,
        ),
        (
            x: 1171,
            y: 67,
            width: 130,
            height: 66,
        ),
        (
            x: 1041,
            y: 67,
            width: 130,
            height: 66,
        ),
        (
            x: 911,
            y: 67,
            width: 130,
            height: 66,
        ),
        // walk right
        (
            x: 911,
            y: 1,
            width: 130,
            height: 66,
        ),
        (
            x: 1041,
            y: 1,
            width: 130,
            height: 66,
        ),
        (
            x: 1171,
            y: 1,
            width: 130,
            height: 66,
        ),
        (
            x: 1301,
            y: 1,
            width: 130,
            height: 66,
        ),
        (
            x: 1431,
            y: 1,
            width: 130,
            height: 66,
        ),
        (
            x: 1561,
            y: 1,
            width: 130,
            height: 66,
        ),
        // walk left
        (
            x: 651,
            y: 67,
            width: 130,
            height: 66,
        ),
        (
            x: 521,
            y: 67,
            width: 130,
            height: 66,
        ),
        (
            x: 391,
            y: 67,
            width: 130,
            height: 66,
        ),
        (
            x: 261,
            y: 67,
            width: 130,
            height: 66,
        ),
        (
            x: 131,
            y: 67,
            width: 130,
            height: 66,
        ),
        (
            x: 1,
            y: 67,
            width: 130,
            height: 66,
        )
    ],
)
